#deps
node_modules


#secrets
.env
config.json
/config

#artefacts
build
*.tsbuildinfo
compose/*
apps/server/logs/*

#misc
*test*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*